<form (ngSubmit)="submit()" [formGroup]="gramaticaForm">
  <div class="form-group">
    <label class="font-weight-bold">Producciones:</label>
    <button
      class="btn btn-sm btn-success mx-2"
      type="button"
      (click)="addProduccion()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

    <ol class="produccion__list mx-auto" formArrayName="producciones">
      <li
        class="produccion__item my-1 mx-auto"
        *ngFor="let prodCtrl of produccionesControls; let i = index"
        [formGroupName]="i"
      >
        <input
          class="produccion--ladoIzquierdo"
          formControlName="ladoIzquierdo"
          type="text"
        />
        <span class="mx-2"><i class="fa fa-arrow-right"></i></span>
        <input
          class="produccion--ladoDerecho"
          formControlName="ladoDerecho"
          type="text"
        />
        <button
          type="button"
          (click)="removeProduccion(i)"
          class="btn btn-sm btn-danger mx-1"
        >
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </li>
    </ol>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block w-50 mx-auto">
      Guardar Gramática
    </button>
  </div>
</form>
